<div class="h-auto mt-4 col-12">
    <p-card header="Categories">
        <div class="flex flex-column gap-4">
            <p-card>
                <div class="flex align-items-center justify-content-between">
                    <div class="flex align-items-center gap-2">
                        <span class="pi pi-angle-down text-lg"></span>
                        <p class="text-lg font-semibold">e-Voucher</p>
                    </div>
                    <span class="pi pi-check-circle text-lg" style="color: #ff5d44"></span>
                </div>
                <p-divider />
                <div class="flex align-items-center justify-content-between">
                    <div class="flex align-items-center gap-2">
                        <span class="pi pi-angle-down text-lg"></span>
                        <p class="text-lg font-semibold">Products</p>
                    </div>
                    <span class="pi pi-check-circle text-lg"></span>
                </div>
            </p-card>
            <p-card>
                <div class="flex align-items-center justify-content-between">
                    <div class="flex align-items-center gap-2">
                        <span class="pi pi-angle-up text-lg"></span>
                        <p class="text-lg font-semibold">Evergreen</p>
                    </div>
                    <span class="pi pi-check-circle text-lg"></span>
                </div>
                
            </p-card>
            <p-card>
                <div class="flex align-items-center justify-content-between">
                    <div class="flex align-items-center gap-2">
                        <span class="pi pi-angle-up text-lg"></span>
                        <p class="text-lg font-semibold">Fashion & Retail</p>
                    </div>
                    <span class="pi pi-check-circle text-lg"></span>
                </div>
                
            </p-card>
        </div>
    </p-card>
</div>
